*{
  text-align: center;
  background: black;
  color: white;
 } 

#title {
 text-align: center;
  background: black;
  color: red;
}

#image {
  max-width: 100%;
  max-height: auto;
  display: block;
}



